<p-toast></p-toast>
<p-table [value]="data">
    <ng-template pTemplate="header">
        <tr>
            <th>Request Desc</th>
            <th>Quantity</th>
            <th>notes</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-request>
        <tr>
            <td>{{request.request}}</td>
            <td>{{request.quantity}}</td>
            <td>{{request.notes}}</td>
            <td>
                <button (click)="update(request.id)" class="btn"><i class="pi pi-fw pi-pencil"></i></button>
                <button (click)="delete(request.id)" class="btn"><i class="pi pi-fw pi-ban"></i></button>
            </td>
        </tr>
    </ng-template>
</p-table>